@import 'reset.css';
.float-wrapper > div,.float-wrapper > nav,.float-wrapper > ul,.float-wrapper > li{float:left}
.float-wrapper:after{content:'';display:block;clear:both}
html,body{height:100%;overflow:hidden}
body{background-image:url("/images/low_contrast_linen.png")}
#upper,#lower{background-repeat:repeat;position:relative;}
#upper .bg,#lower .bg{position:absolute;top:0;left:0;width:100%;height:100%}
#upper{height:62%;background-color:#fff;}
#upper .bg{background-image:url("/images/cross_scratches.png");opacity:.5}
#upper #name{position:absolute;right:50%;bottom:30px;font-size:4.2em;text-align:right;margin:0;font-family:'Poiret One',sans-serif;text-shadow:0 1px #fff;z-index:100;color:#3a3a3a;-webkit-transition:color .25s;-moz-transition:color .25s;-ms-transition:color .25s;-o-transition:color .25s;transition:color .25s;}
#upper #name:hover{color:#ed6812}
#upper #name::selection{background:#ed6812;color:#f6f6f6}
#upper #name::-moz-selection{background:#ed6812;color:#f6f6f6}
#lower{height:38%;background-color:transparent;-webkit-box-shadow:inset 0 6px 6px rgba(0,0,0,0.25);-moz-box-shadow:inset 0 6px 6px rgba(0,0,0,0.25);-ms-box-shadow:inset 0 6px 6px rgba(0,0,0,0.25);-o-box-shadow:inset 0 6px 6px rgba(0,0,0,0.25);box-shadow:inset 0 6px 6px rgba(0,0,0,0.25);}
#lower #links{font-family:'Cantarell',sans-serif;position:absolute;left:50%;top:30px;font-size:1.5em;text-transform:lowercase;z-index:100;}
#lower #links > div,#lower #links > nav,#lower #links > ul,#lower #links > li{float:left}
#lower #links:after{content:'';display:block;clear:both}
#lower #links .link{margin-right:30px;}
#lower #links .link a{color:#000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;text-decoration:none;text-shadow:0 1px rgba(255,255,255,0.15);-webkit-transition:color .25s,text-shadow .25s;-moz-transition:color .25s,text-shadow .25s;-ms-transition:color .25s,text-shadow .25s;-o-transition:color .25s,text-shadow .25s;transition:color .25s,text-shadow .25s;}
#lower #links .link a:hover{color:#f6f6f6;text-shadow:none}
.crcl-wrapper{width:30%;position:absolute;overflow:hidden;-webkit-transition:width .5s ease-out;-moz-transition:width .5s ease-out;-ms-transition:width .5s ease-out;-o-transition:width .5s ease-out;transition:width .5s ease-out;}
.crcl-wrapper.expand{width:60%}
.crcl-wrapper .crcl{position:absolute;width:200%;height:200%;-webkit-border-radius:100%;-moz-border-radius:100%;-ms-border-radius:100%;-o-border-radius:100%;border-radius:100%;overflow:hidden;border:3px solid transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
#upper-crcl-wrapper{left:20%;bottom:38%;}
#upper-crcl-wrapper #upper-crcl{top:0;left:0;background:transparent;border-color:#3a3a3a}
#lower-crcl-wrapper{right:20%;top:62%;background:transparent;}
#lower-crcl-wrapper #lower-crcl{bottom:0;right:0;border-color:#f6f6f6;-webkit-box-shadow:0 3px 1px rgba(0,0,0,0.25);-moz-box-shadow:0 3px 1px rgba(0,0,0,0.25);-ms-box-shadow:0 3px 1px rgba(0,0,0,0.25);-o-box-shadow:0 3px 1px rgba(0,0,0,0.25);box-shadow:0 3px 1px rgba(0,0,0,0.25)}
