!!!

html
  head
    meta(charset='utf-8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    
    title Scott Cheng
    meta(name='author', content='Scott Cheng')
    meta(name='description', content='Scott Cheng')

    //- link(href='http://fonts.googleapis.com/css?family=Cantarell', rel='stylesheet')
    //- link(href='http://fonts.googleapis.com/css?family=Poiret+One', rel='stylesheet')
    //- link(href='http://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet')
    //- link(href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do', rel='stylesheet')
    //- link(href='http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day', rel='stylesheet')
    //- link(href='http://fonts.googleapis.com/css?family=La+Belle+Aurore', rel='stylesheet')
    //- link(href='http://fonts.googleapis.com/css?family=Megrim', rel='stylesheet')
    style
      @font-face {
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        src: local('Poiret One'), local('PoiretOne-Regular'), url(/stylesheets/fonts/poiretone.woff) format('woff');
      }
      @font-face {
        font-family: 'Cantarell';
        font-style: normal;
        font-weight: 400;
        src: local('Cantarell Regular'), local('Cantarell-Regular'), url(/stylesheets/fonts/cantarell.woff) format('woff');
      }
    link(href='stylesheets/index.css', rel='stylesheet')

    link(rel='shortcut icon', href='favicon.png')
    link(rel='apple-touch-icon', href='apple-touch-icon-57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='apple-touch-icon-114.png')
    link(rel='apple-touch-icon', sizes='144x144', href='apple-touch-icon-144.png')

  body
    #upper
      .bg
      #name Scott Cheng
        
    #lower
      //- .bg
      ul#links
        li#blog.link
          a(href='/blog/') Blog
        li#projects.link
          a(href='/projects/') Projects
        li#lab.link
          a(href='/lab/') Lab
        li#about.link
          a(href='/about') About

    #upper-crcl-wrapper.crcl-wrapper
      #upper-crcl.crcl
    #lower-crcl-wrapper.crcl-wrapper
      #lower-crcl.crcl

    script(src='javascripts/libs/jquery.min.js')
    script(src='javascripts/index.js')
