// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg;
}

::selection {
  background: $highlight-color !important;
  color: $main-bg !important;
  text-shadow: none !important;
}

::-moz-selection {
  background: $highlight-color !important;
  color: $main-bg !important;
  text-shadow: none !important;
}

.logo {
  position: relative;
  width: 1em;
  height: 1em;
  @include border-radius(1em);
  border: 1px solid #000;
  &:before, &:after {
    content: ' ';
    position: absolute;
    display: block;
  }
  &:before {
    width: .707em;
    height: 1.2em;
    top: -.1em;
    left: .1465em;
    @include border-radius(.18em);
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    height: 1px;
    left: 0;
    right: 0;
    top: .5em;
    background-color: #000;
  }
}

body {
  line-height: 1.65em;
}

body > header {
  h1 {
    position: relative;
    display: block;
    margin-left: 0 !important;
    color: #000 !important;
    opacity: .5;
    padding-left: 42px;
    padding-top: 3px;
    font-size: 39px;
    @include transition(opacity .25s);
    .logo {
      position: absolute;
      left: 0;
      top: 0;
      @include transition(transform 1.5s cubic-bezier(.15, .85, .85, .15));
      &:before {
        left: .16em;
      }
    }
    &:hover {
      opacity: 1;
      .logo {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
}

body > nav {
  background: $nav-bg;
  border-top: 0;
  border-bottom: 1px solid $nav-border-bottom;
  padding-top: 0em;
  padding-bottom: 0em;

  @media only screen and (min-width: 550px) {
    height: 42px;
    border: 0;
    @include background-image(linear-gradient(left, #fff 10%, #fcfcfc 50%, #fff 90%));
    &:before, &:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 24px;
      content: ' ';
      display: block;
      background-color: transparent;
    }
    &:before {
      top: -24px;
      @include box-shadow(0 9px 9px -9px rgba(#000, .3));
    }
    &:after {
      bottom: -24px;
      @include box-shadow(0 -9px 9px -9px rgba(#000, .3));
    }
  }

  ul.subscription {
    padding-top: .45em;
  }

  ul.main-navigation {
    padding-top: 0;
    li {
      padding-top: .35em;
      padding-bottom: .35em;
      & + li {
        border-left-color: #eee;
        a {
          border-left: none;
        }
      }
    }
  }

  ul.subscription {
    margin-left: 1.2em;
  }

  form {
    fieldset[role='search'] {
      display: none;
    }
    @media only screen and (min-width: 550px) {
      width: 135px;
    }
    input.search {
      border-color: #f4f4f4;
      text-align: right;
      @include transition(border-color .25s);
      &:focus {
        color: #555;
        border-color: #ddd;
        outline: none;
      }
    }
  }
}

body > div {
  background: $sidebar-bg;
  border-bottom: 1px solid $page-border-bottom;
  > div {
    background: $main-bg;
    border-right: 1px solid $sidebar-border;
  }
}

body > footer {
  background: $footer-bg;
  border: 0;
  text-align: center;
}

span.toggle-sidebar {
  display: none;
}

a {
  @include transition(color .25s);
  text-decoration: none;
}

#blog-archives h1 a:hover {
  text-decoration: none;
}

article {
  header {
    padding-top: 0;
    p.meta {
      position: relative !important;
      margin-bottom: .25em;
    }
  }
  header h1 {
    a, a:hover, a:active {
      text-decoration: none !important;
    }
  }
  h2 {
    background: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #222;
  }
  p, ul, ol {
    // text-align: justify;
    a {
      border-bottom: 1px dotted #aaa;
    }
  }

  img, video, .flash-video {
    @include box-shadow(0 0 6px rgba(#000, .25));
    @include border-radius(2px);
    border: 1px solid #eee;
    @include transition(box-shadow .25s, border-color .25s);
    &:hover {
      @include box-shadow(0 0 6px rgba($highlight-color, .75));
      border-color: $highlight-color;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  // margin-left: -.12em !important;  // font fix
}

ul, ol {
  margin-left: 2em;
}

ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
ul, ol {
  ul {
    list-style-type: circle;
  }
  ol {
    list-style-type: lower-alpha;
  }
  ul, ol {
    margin-bottom: 0px;
    ul {
      list-style-type: square;
    }
    ol {
      list-style-type: lower-roman;
    }
    ul, ol {
      margin-bottom: 0px; 
    }
  }
}

blockquote {
  font-size: inherit;
  border-left-width: 6px;
  @include transition(border-left-color .25s);
  &:hover {
    border-left-color: $highlight-color;
  }
}

aside.sidebar {
  border-top: 0;
}

p, li {
  code {
    background: #fafafa;
    border-color: #eee;
    @include transition(border-color .25s, box-shadow .25s);
    &:hover {
      border-color: $highlight-color;
      @include box-shadow(0 0 3px rgba($highlight-color, .75));
    }
  }
}

figure.code, .gist-file, pre {
  @include box-shadow(0 0 3px rgba(#000, .1));
  @include border-radius(9px);
  overflow: hidden;
  border: 1px solid #eee;
  @include transition(border-color .25s, box-shadow .25s);
  &:hover {
    border-color: $highlight-color;
    @include box-shadow(0 0 3px rgba($highlight-color, .75));
  }
}

.code-title {
  background-color: #eee;
  @include filter-gradient(#eee, #ddd, vertical);
  @include background-image(linear-gradient(top, #eee 0%, #ddd 100%));
  border: 0;
  color: #555;
  text-shadow: #fff 0 1px 0;
  @include border-top-radius(9px);
}

pre, .highlight, .gist-highlight {
  border: 0 !important;
  &::-webkit-scrollbar {  height: .25em; background: $solar-scroll-bg; }
  &::-webkit-scrollbar-thumb:horizontal { background: $solar-scroll-thumb;  -webkit-border-radius: 4px; border-radius: 4px };
}

#content {
  border-right: 0;
  .blog-index {
    a[rel=full-article] {
      background: transparent;
      border-left: 9px solid darken($main-bg, 5);
      color: mix($text-color, $text-color-light);
      @include border-radius(2px);
      @extend .serif;
      @include transition(color .25s, border-color .25s, background-color .25s);
      &:hover {
        border-left-color: darken($main-bg, 10);
        text-shadow: none;
        color: $main-bg;
      }
    }
  }
}


// Lab

ul#lab-list {
  margin-left: 0;
  li.lab {
    list-style: none;
    position: relative;
    a {
      white-space: normal;
    }
    .title {
      position: absolute;
      bottom: 0;
    }
  }
}


// Photos

#ig-feed {
  margin-left: 0;
  list-style: none;
  li {
    text-align: center;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      border-bottom: none;
    }
    img {
      // width: 360px;
    }
  }
}



// Post-specific

// 1208 S in CSS

#s-demo {
  margin: 0 auto .1em;
  font-size: 21em;
  border-color: $highlight-color;
  &:after {
    background-color: $highlight-color;
  }
}

#s-demo-1,
#s-demo-2 {
  margin: 0 auto .2em;
  font-size: 6em;
}

#s-demo-1 {
  position: relative;
  width: 1em;
  height: 1em;
  @include border-radius(1em);
  border: 1px solid $highlight-color;
}

#s-demo-2 {
  @extend #s-demo-1;
  &:before, &:after {
    content: ' ';
    position: absolute;
    display: block;
  }
  &:before {
    width: .707em;
    height: 1.2em;
    top: -.1em;
    left: .1465em;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

#s-demo-2-2 {
  @extend #s-demo-2;
  &:before {
    background-color: rgba($highlight-color, .3);
  }
}

#s-demo-3 {
  @extend #s-demo-2;
  &:after {
    height: 1px;
    left: 0;
    right: 0;
    top: .5em;
    background-color: $highlight-color;
  }
}

#s-scale {
  font-size: 1.5em;
}

#s-color {
  color: $highlight-color;
}

#s-bold {
  font-weight: bold;
}

#s-shadow {
  text-shadow: 0 0 6px rgba(#000, .75);
}


// 1208 different transition on the same html element

#multi-transition-demo-bar {
  width: 100%;
  height: 30px;
  position: relative;
  @include box-shadow(0 0 6px rgba(#000, .25));
  border: 1px solid #eee;
  @include transition(box-shadow .25s, border-color .25s);
  @include border-radius(8px);
  overflow: hidden;
  margin-bottom: 1.5em;
  &:hover {
    @include box-shadow(0 0 6px rgba($highlight-color, .75));
    border-color: $highlight-color;
  }
  #multi-transition-demo-bar-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    @include border-radius(6px);
    @include filter-gradient(#f4a470, $highlight-color, horizontal);
    @include background-image(linear-gradient(left, #f4a470 0%, $highlight-color 100%));
    @include transition(width .5s .5s ease-in);
  }
  &:hover #multi-transition-demo-bar-inner {
    width: 100%;
    @include transition(width 10s 0 ease-out);
  }
}

