// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg;
}

body > nav {
  background: $nav-bg;
  border-top: 0;
  border-bottom: 1px solid $nav-border-bottom;
  padding-top: 0em;
  padding-bottom: 0em;

  ul.main-navigation li {
    padding-top: .35em;
    padding-bottom: .35em;
  }

  form {
    .search {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      color: #888;
      @include border-radius(0);
      &:focus {
        color: #555;
        border-color: #279a9f;
        outline: none;
      }
    }
  }
}

body {
  > div {
    background: $sidebar-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}

body > footer {
  background: $footer-bg;
  border: 0;
  text-align: center;
}

span.toggle-sidebar {
  display: none;
}

a {
  @include transition(color .25s);
}

article {
  header h1 {
    a, a:hover, a:active {
      text-decoration: none !important;
    }
  }
  .entry-content {
    // text-align: justify;
  }
}

ul, ol {
  margin-left: 2em;
}

ul, ol {
  ul, ol {
    margin-bottom: 0px;
    ul, ol {
      margin-bottom: 0px; 
    }
  }
}

blockquote {
  font-size: inherit;
}

aside.sidebar {
  border-top: 0;
}